body {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.Botones {
    background-color: gold;
    border-color: black;
    width: 17%;
    height: 20%;
    color: brown;
    padding: 13px;
}

.edad-label {
    display: inline-block;
    margin-right: 5px; /
}

#Edad {
    width: 40px;
    height: 20px;
}
